.img-rounded {
    margin-top: 100px;
    margin-left: 65px;
    box-shadow: 5px 5px 5px;
}

.container {
    background-color: rgba(211, 211, 211, 0.8);
}
body{
    background-size: 100%,100%;
    background: url('../image/cover.jpg')no-repeat fixed;
}